body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.main-calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;

    box-shadow: #FEC01F 2px 3px 5px;
    border-radius: 20px;
    flex: 1;
    width: 90%;
    padding: 20px;

    gap: 5%;
}

nav, footer {
    background-color: #FEC01F;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

nav {
    font-weight: 900;
    justify-content: space-between;
}

span {
    display: flex;
    gap: 15px;
    align-items: center;
}

img {
    width: 3rem;
    height: 3rem;
}

input, button {
    flex: 1;
    font-size: 30px;
    border-radius: 20px;
}

input {
    background-color: black;
    color: white;
    padding: 0;
    text-align: right;
    height: 150px;
    font-size: 60px
}

.calc-row {
    display: flex;
    justify-content: space-between;

    flex: 1;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.buttons {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.input {
    display: flex;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    font-weight: 900;
}